/* Caeruleus Abyssi */
/* Bureau I — Auctoritas Spectralis */

:root {
  --c-bg: #050300;
  --c-gold: #4dea8a;
  --c-panel: #141108;
  --c-subtle: #0b0904;
  --c-gold-dark: #131c00;
  --c-gold-dim: #4f6000;
  --c-text: #7c8660;
  --c-white: #c3c8b8;
  --c-crimson: #00392b;
  --c-teal: #59002b;
}