/* Viridis Tenebrae */
/* Bureau I — Auctoritas Spectralis */

:root {
  --c-bg: #050507;
  --c-gold: #d4af37;
  --c-panel: #1a1a27;
  --c-subtle: #0e0e17;
  --c-gold-dark: #250034;
  --c-gold-dim: #67327c;
  --c-text: #a188ac;
  --c-white: #dbd0df;
  --c-crimson: #033400;
  --c-teal: #003e21;
}