/* Prasinus Abyssi */
/* Bureau I — Auctoritas Spectralis */

:root {
  --c-bg: #050507;
  --c-gold: #d4af37;
  --c-panel: #060023;
  --c-subtle: #000002;
  --c-gold-dark: #341300;
  --c-gold-dim: #563f00;
  --c-text: #918564;
  --c-white: #dfd7c2;
  --c-crimson: #490000;
  --c-teal: #00401a;
}